{% extends 'layout.html.twig' %}

{% block content %}
    <div id="haut"></div>
    <p class = "caVa">Comment<br> ça va ?</p>

    <form class="acceuil-form" method="get">
        <div id="masqued">
            <input type="text" id="answer" name="answer" placeholder="Joyeux ou dépressif par exemple !">
            <button id="acceuil-button" type="submit">Ecoutez</button>
        </div>
    </form>

    <h1 id="title"><span class="banana">Banana</span><span class="mood">Mood</span></h1>
    
    <iframe class="iframe" src="{{playlist.url}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="max-width: 100%"></iframe>
    <script>

        document.getElementById("masqued").style.display = 'none';

        function affichage(){
            document.getElementById("masqued").style.display = 'block';
            document.getElementById('haut').appendChild(document.getElementById('title'));
            document.getElementById('banana').style.color = "#fbe84e";
            document.getElementById('mood').style.color = "white";

            //Aprés clique
            document.getElementById("acceuil-button").addEventListener('click', function(){
                
            });
        }        

        setTimeout(affichage, 300);
        
    </script>
{% endblock %}
