{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title"><span class="banana">Banana</span><spana class="mood">Mood</span></h1>
    <form class="acceuil-form" method="get">
        <label for="answer"><img src="/assets/images/Banane_peau.svg" alt="banane acceuil" width="500"/></label>
        <div id="masqued">
            <input type="text" id="answer" name="answer" required>
            <button class="acceuil-button" type="submit">Enjoy</button>
        </div>
    </form>

    <script>

        document.getElementById("masqued").style.display = 'none';

        function affichage(){
            document.getElementById("masqued").style.display = 'block';
        }        

        setTimeout(affichage, 2000);
        
    </script>
{% endblock %}
