{% extends 'layout.html.twig' %}

{% block content %}
    <div id="haut"></div>
    <p id="masqued2" class = "caVa">La playlist<br>qui vous écoute!</p>
    <form class="acceuil-form" id="masqued1" method="get">
        <div id="answer" style="display: flex; align-items: baseline">
            <div>😀 |</div>
            <input type="text" name="answer" placeholder="Balance ton mood">
        </div>
        <button id="acceuil-button" type="submit"><img class="acceuil-icon" src="/assets/images/paper_plane.svg"></button>
    </form>
    <div class="decal"></div>
    <div class="decal"></div>
    <iframe id="iframe" title="deezer-widget" src="{{playlist.url}}" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>

    <h1 id="title"><a href="../"><span id="banana">Banana</span><span id="mood">Mood</span></a></h1>
    
    <script>

        document.getElementById("masqued1").style.display = 'none';
        document.getElementById("masqued2").style.display = 'none';


        document.body.style.backgroundImage = "none";
        
        if(window.location.search === "") {
            document.getElementById("masqued1").style.display = 'flex';
            document.getElementById("masqued2").style.display = 'initial';
            document.body.style.backgroundImage = "url(/assets/images/bulle.png)";
            document.getElementById("iframe").style.height = '250';
            document.getElementById("iframe").style.width = '100%';
        } else{
            document.body.style.backgroundColor = "black";

        }

        document.getElementById('haut').appendChild(document.getElementById('title'));
        document.getElementById('banana').style.color = "#fbe84e";
        document.getElementById('mood').style.color = "white";
    </script>
{% endblock %}
