{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title">Banana mood</h1>
    <form class="acceuil-form" method="get">
        <label for="answer"><!-- Image banane --></label>
        <input type="text" id="answer" name="answer" required>
        <button type="submit">Enjoy</button>
    </form>
    <iframe src="{{playlist.url}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% endblock %}
