{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="title"><span class="banana">Banana</span><span class="mood">Mood</span></h1>
    <p class = "caVa">Comment<br> ça va ?</p>
    <form class="acceuil-form" method="get">
        <div id="masqued">
            <input type="text" id="answer" name="answer" required>
            <button class="acceuil-button" type="submit">Enjoy</button>
        </div>
    </form>
    <script>

        document.getElementById("masqued").style.display = 'none';

        function affichage(){
            document.getElementById("masqued").style.display = 'block';
        }        

        setTimeout(affichage, 2000);
        
    </script>

    <iframe class="iframe" src="{{playlist.url}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="max-width: 100%"></iframe>
    
{% endblock %}
