body{
    background-color: #fffada;
}

.acceuil-form{
    display: flex;
    flex-direction: column;
    width : 50vw;
    margin: auto;
}

.title{
    font-family: 'DM serif display';
}

.mood{
    color: #fbe84e;
}