body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fdf2ab;
    background-image: url(/assets/images/bulle.png);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    margin: 0;
    min-height: 100vh;
}

body::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/assets/images/Banane_peau.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.acceuil-form{
    margin-top: 30vh;
    text-align: center;
}

#masqued1 button{
    display: block;
}

#title{
    font-family: 'DM serif display';
    text-align: center;
    font-size: 3rem;
}

.caVa{
    color:white;
    font-size : 60px;
    font-family: 'DM Serif Display';
    margin-top: 0;

}

#mood{
    color: #fbe84e;
}

#banana{
    color:black;
}

#acceuil-button{
    font-family: 'DM Serif Display';
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    font-size: xx-large;
}

#acceuil-button:hover{
    background-color: black;
    color: #fbe84e;
}

#answer{
    border: 0;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}

    /* css playlist */

.iframe{
    height: auto;
}