body{
    background-color: #fffada;
}

.acceuil-form{
    display: flex;
    flex-direction: column;
    width : 50vw;
    margin: auto;
}

#masqued button{
    display: block;
}

#title{
    font-family: 'DM serif display';
    text-align: center;
    font-size: 3rem;
}

#mood{
    color: #fbe84e;
}